/*********************
===~ Fonts ~===
*********************/
@import '../fonts/fonts.scss';
$font-family: 'Indie Flower';



/*********************
===~ Theme Color ~===
*********************/
$primaryColor: #05C6BF;
$secondayColor: #474646;